<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <h1>THIS IS HOME</h1>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home',
}
</script>
