<template>
  <div class="">
    <input type="text" v-model="task">
    <button type="button" v-on:click="onCreateTask(task)">Add task</button>
  </div>
</template>

<script>
  export default {
    name: 'InputTaskComponent',
    data() {
      return {
          task: "Hello task"
      }
    },
    props: {
      onCreateTask: {
        type: Function,
      },
    },
  }
</script>

<style>
  input {
    padding: 8px;
    margin: 16px;
    border: none;
    background-color: #0FF1CE;
    border-radius: 15px;
  }
</style>
