<template>
<div v-bind:class="isResolved" class="card-container">
    <div class="text">
      <span>{{ todoElem.id }} - {{ todoElem.text }}</span>
    </div>
    <div class="button">
      <button
        v-on:click="onCheck(todoElem)"
        type="button"
      >
        {{ todoElem.resolved ? 'DID IT' : 'OK' }}
      </button>
      <button type="button" v-on:click="onDelete(todoElem.id)">
        Delete
      </button>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ItemElementComponent',
    props: {
      todoElem: {
        id: Number,
        text: String,
        resolved: Boolean,
      },
      onDelete: {
        type: Function,
      },
    },
    computed: {
      isResolved() {
        return {
          resolved: this.todoElem.resolved
        }
      },
    },
  }
</script>

<style>
  .card-container {
    min-width: 250px;
    height: 48px;
    background-color: #0FF1CE;
    margin: 8px;
    display: flex;
    flex-direction: row;
    justify-content: between;
    align-items: center;
    padding: 16px;
    border-radius: 15px;
    color: grey;
  }
  .card-container .text {
    text-align: start;
    width: 75%;
  }
  .card-container .button {
    width: 25%;
  }
  .resolved {
    background-color: #ea9999;
  }
  button {
    border: none;
    border-radius: 15px;
    background-color: whitesmoke;
    padding: 8px 16px;
    display: inline-block;
    color: black;
  }
</style>
