<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
      <InputTaskComponent v-bind:onCreateTask="onCreateTask"/>
      <div
        class="todo-list-container"
        v-for="todoElem in todos"
        v-bind:key="todoElem.id"
      >
          <ItemElementComponent
            v-bind:todoElem="todoElem"
            v-bind:onDelete="onDelete"
          />
      </div>
  </div>
</template>

<script>
import ItemElementComponent from './ItemElementComponent.vue'
import InputTaskComponent from './InputTaskComponent.vue'

export default {
  name: 'TodoListComponent',
  components: {
    ItemElementComponent,
    InputTaskComponent,
  },
  data() {
    return {
      todos: [
        {id:1, text: "todo task 1", resolved: false},
        {id:2, text: "todo task 2", resolved: false},
        {id:3, text: "todo task 3", resolved: false},
        {id:4, text: "todo task 4", resolved: false},
      ]
    }
  },
  props: {
    msg: String
  },
  methods: {
    onCheck(todoElem){

      const updatedElem = {
          id: todoElem.id,
          text: todoElem.text,
          resolved: !todoElem.resolved
      }

      this.todos.splice(todos.map(elem => elem.id).indexOf(todoElem.id),1,updatedElem)
    },
    onDelete(id){
      this.todos = this.todos.filter((elem) => elem.id !== id)
    },
    onCreateTask(task) {
      this.todos.push({
        id: this.todos.length + 1,
        text: task,
        resolved: false
      })
      console.log(this.todos)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.todo-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
